useDynLib(networksis)

importFrom(utils, packageDescription)
importFrom("stats", "simulate")

# Import all packages listed as Imports or Depends
import(network)

# Export all names
exportPattern(".")

S3method(simulate, sisnetwork)

